<h1 id="tableLabel">Games</h1>

<p>List of all games fetched from the Backend.</p>

<p *ngIf="!games"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="games">
    <thead>
        <tr>
            <th>Name</th>
            <th>Developer</th>
            <th>Price</th>
            <th>ReleaseDate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games">
            <td>{{ game.name }}</td>
            <td>{{ game.developer }}</td>
            <td>{{ game.price | price}}</td>
            <td>{{ game.releaseDate | date }}</td>
        </tr>
    </tbody>
</table>
