#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login{
    width: 30vw;
    padding: 3vh;
    margin-bottom: 3%;
}

#login>form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login>form>mat-form-field {
  width: 75%
}

#login>form>button{
    width: 75%;
}
